
<div class="d-flex flex-column align-items-center gap-2 rounded-3 p-4 w-75 m-2 mx-auto bg-success">
    
    <div class="card w-75 " >
        <div class="card-header bg-primary">
            <h2 class="card-title text-white text-center">Graduation in I.T. Engineering</h2>
            <h5 class="card-title text-center">GEC Gandhinagar (undertaken by GTU)</h5>
            <h6 class="card-subtitle text-center">4 Year(2016-2020)</h6>
        </div>
        <div class="card-body">
            <img class="card-img-top p-1 px-5" src="https://lh3.googleusercontent.com/proxy/0gqNtbPr8o7Ug5FMWeep55LdIPnT79sbcy6RmqOpyAdssDTl-guGLkYwLWPB_ZVLha3PcmEefbjiRaO5hbfMZ16syhEo4gfIZnkY8XQ" height="180" width="auto" alt="project Image">
            <h4 class="text-primary">Description</h4>
            <p class="text-secondary">
                I completed by B.E. in IT field from GEC Gandhinagar college. During this, I also got a scholarship from Government of Gujarat. I took 4 years to complete the program. In this program, I learned C/C++, Data structures and Algorithms, Database, Software Engineering, JAVA, Advance JAVA, Web technologies, Python, Computer Networks, Artificial Intelligence and etc.
                I gained great knowledge, while pursuing the degree, and also made many projects. Also, I grabbed opportunities in participating and organizing events. I studied hard and I achieved <span class="text-success fw-bolder text-decoration-underline">8.52 CGPA</span>. And at the end of program, I also bagged one job offer from Asia's biggest IT firm TCS. 
            </p>
        </div>
    </div>

    <div class="card w-75" >
        <div class="card-header bg-primary">
            <h2 class="card-title text-center">Postgraduation in Mobile Solutions Development</h2>
            <h5 class="card-title text-center">Conestoga College, Waterloo Campus</h5>
            <h6 class="card-subtitle text-center">2 Years(2021-Studying)</h6>
        </div>
        <div class="card-body">
            <img class="card-img-top p-1 px-5" src="data:image/png;base64,iV
            BORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAApVBMVEX///+/nGYAAAC8l13m2sn29vbz8/O9mWH5+fm7lVnBwcGFhYXq6urm5ub8/PxgYGDf399UVFSTk5PX19fLy8u6urrPz8+mpqZoaGi0tLR4eHju7u7T09NwcHBPT09ISEiPj4+enp718OnJrIGrq6svLy+CgoI+Pj7Vv6DbyK7EpHPv59xhYWEgICA1NTXLr4bRuJW4j04WFhYmJibi077Zxarq39CIsRe5AAAJqUlEQVR4nO2caXuyOhCGY5BVQARRAfddu+hrrf//p50kQAhVW5cuJ15zf6gsAfJkJslMxCIEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP9fxn9dgZ9mvP/rGnwDrmsYrnvm5Kb6q3X5Gdyn6nJi/qts3qtHLrn/9wgKU8b7iWma+rZqCAerpvI4CgnGXlcUxdzsM1OOt2blsRQSqhWloitmZblfLdemXpFa4bj6vp1M1uvJZrt6Kg6vqC6iUqEf8ip0D9uKqei6Tg22FgUipG7MSoGcCp+2emahiqIsj6f0qim3wvHGzORVdPP95Dw4rujyKnSXXF/FnJwLyYy1LqvCAxkruQE/C8gmupwK34sepq8/j6knUo6lG27AijI5F4nmpI4qlUJ3LQjcfFl8rEincKJfI5D0WVMyhYKL6uuLrlgqUil8LwRWKsbX5SlS2fAgxCnm09flGU8S5RZu0QcryvLiyza6NAqXgsLK5ZeNpcmAx7fG0htTEoWb20xIeqIk6zQlE163PFiRQ6HYC/WvorUyKzkUCibULx9IGXKsCB+Eyf7iuTDn2vJ/wvbWcYZynVP/EYI+ffvXlfkJ7hhJJaF6TzeUgpWgUFH/ujY/gTjQ6H9dmR/h5pBNGtaCwMuSe9kAhfIzefh+eFfQJgVi7qRcuMomF3sxpnnIF4CeJP/C82sMwYbXJsCSIA6mjzldrO7piFJ03HsSRFWOjntHVFOVI2Xe354Dy/JuomBD/ZIvRzmGJGvetxtxJcv3FiUjTq64TpdGYekL0ssrvVfkCYK24nLUpeE3iYbkUXiTn5K8SyKFpWn//aJLqGtLpLDcFS+Zx13pkpHqlRJZwC6VwislLuV764vkwkqRR5lfZIqrtDkkU4iMSWFGZfLZpLHPCsqmkNacm1HXz9d+lbeEfAqRuhVeg96cyW+X3NQSKqSv6pt5gKOb2xMajYnwIqqMCsnsv1qb2aCjm5vqh6/qD7q4wCqnQkTfItmuddOkv3P6Z24OxQljK/6gRGKFFHf8dDgcnsbC98LuSmG/ozHXa4X5stwKjxgvFV1XlEn6M6HxqiJV5P0lBv0BokK6pWDSrUT54ae448Nq/e9fZbI6fDizlSbH/wzjqbra76tPJ1/TeBAbfoIk66X38NFvHw8p3twDAAAAAAAAAAAAAAAAforECqOw6ZVWOLVmGHrFrqEVa0hGoqoa+8bXJVsMTeNnW+1RZLFbOWqBw8+7QRh2P35f7HpWaHnlox76LqI33OjFDYxxyI91B7gT9zCOk+xAEGP+xGCIcY/t2SOcMc3P4Xq7NsNNuj3DAtmNkmdcj+MZrgeiljrudzoDjGe94mBr910CB2l1EAoLhbVs08I4yo9hXNihhosti37E2T28dHdOd7VdoBluiOvIMOxemD3DZ5/OAtf43fz8IRZuFPXq4W8y4uCFu98oV1PjN9dwWmXCDmPuikNBIat618mrxT68IP9Dav1MP4ww3cltjfp4nm35mHcPr8Pr5WKhDe6hLbRUkD2+hUf8WIvrwh38kneUI4U5rxh9wCI2zFEFGxkYt9iGl/sQuzHfChsvR/e6CTwQdrK2HBTGom3tZyWtEV7kFTmnsI6HqIyo0BfF+LifXnK6v/WtOXefe2ge1YgMH1wIZYpn6QbpLLWsUucVEpPH5buJCjEWFvU9jKlLqLiHTqBht5U/7S583D46FuKOsBfk1aJdKM5OiQrbtuPYo9zqZHB9TYTLRYU2Fv2OuGkXlbuEQLtBGyQ5deo6akXX5/ilVrXz57C26KTjg6gwhZefkh3BF0WFAS45ZDqnhIVCVTX4tDsL6b39GyR94NRNRoJfkQksH2pSazfYBaJC1kSCPwU7LHYgQaFXsiFXyIfMEZkRa0lWtOV5IX65XtFH2iU1KWHe87JnZQ2ftfWCSip5Kf1oCVeorxjbfK/spaLb7dheV+j1AX+yj19ns8UOi/e9De+Er9tiBUkNs6Ej96YZsdCRwjKvwlQmjjQ7cVhKUjmuEEl4XG36sGlpRLiRV3Hsy8QORNeNcRZf5QfVFxz4nytsCfNeebYQvDnKmiwuuj1X2E1naSMdbu+jJUajg/z+hWET3ow8BiFxTv1IYVoTN8pKFGNVecYXeugb5rfLD3KFcdYBOycGwqshw3tuBSef/Yd4lgdSCx7UcYXIEcbOXGF6MkmboysIyaK2lCbmIdScbxXBr5MrzL28WRoSbiXCeBHZrmGHhcP65KFUWXM34G4ieJ5XTN1z/Na0E9tKG0djdXXE6SYqzdtEjU+HZq8vRos73G/S5+TRRTvvGejlO4yI1NFrOqfVi+TBI5nT7g0vuAcHHRKt8JHNy204fHnZsWuzRl9g/PYy4/kIS83wUOhMKsm88BvelXtv2E9r0KPKWnOykVWlLz71HgzbsT+OqSRUEWpmJJqWXNDtVdvRxH2N8OHOiVMuwh+XlzNclD/Jdd2H/EE8AAAAIAPdoe98XYoSsHJNMpP53XNlWD5snX8p8TuilitpzxN78ZXENNIYsQA00FA4PSuBhazP5/+z23esN12HQcPfhKSIAW19I7EMGvQwI1isNi2irtlhTdBmBtJct93WUBJlsSYtZqAmDcGcyGABXcfgZ5AaEXsnSYhUjS7/23lZO9Js9Bs0s0Sw1m4OXLQYNQd0CcMiAXQjmpLwOw6nHTRqhIVC3/N6c89rWOnKdsOKeiiqN2sRCp5bMcs3OsyGz9NogNRBl5ypkXjzzadPGKBpozkPEbm+8/orCq00KnZIptEa0Zxx2kTErL5DpfuBR/6GKLVMpnAUoKiJOlqWYZJQtIGskK7e9IxsDYfZMBgyvzYSp4boggzRQ65roCmxbAfRlvgdhUGa6zWJUK1Hns9qT6rmRR3f9x2L2Uk9VjggZ1naHs+Jqak/NhDNx3pcofVMigRufdgeoppGz6OQKWwht4Noptw4qs2PQJM0y9JI5mpNRYUBtV7ikQbwkZYpbBUKY42eIN1pTu2WKpwnabdmBkLekNzAnnaRXTuhsOYg+zsS3gvwFiOfPHxUo72O+Bhxojr1TxQPfWKU2I9JTdMksF2v1WJ6ipRJ+u1nJrgRDV9RaNFrk8
            a0x+zyPK/NR2g49HvIrke9mCkk9ybF+tQT3Gcicjj8JRsSjem3g/SvxvI18lclg6nNxjqHDqNqulZkE+gpgw61XjZj0E/DSK/NhleNlEtoFojYMZe9tK+xYhq7WEM0zT+5wv8weINa/8JAQ1ognQcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPhx/gMM6JKCKd7p1wAAAABJRU5ErkJggg==" height="180" width="auto" alt="project Image">
            <h4 class="text-primary">Description</h4>
            <p class="text-secondary">
               I started pursuing my post-graduation in Conestoga college in the field of 
               <span class="text-success fw-bolder text-decoration-underline">Mobile Solutions Development</span>.
                Conestoga college is one of the reputed colleges in Canada and MSD is one of the best and chellenging course.
                Here I am learning niche web technologies, System Development, IOS, Android, UI-UX designing, Software Development and Etc.
                Currently, I am in the first semester.
            </p>
        </div>
    </div>

</div>  