{{!-- Experience Page --}}
<div class="d-flex flex-column align-items-center gap-2 rounded-3 p-4 w-75 m-2 mx-auto bg-success">
    {{!-- First company data and using bootstrap card to display --}}
    <div class="card w-75 " >
        <div class="card-header bg-primary">
            <h2 class="card-title text-white text-center">Tata Consultancy Services</h2>
            <h5 class="card-title text-center">1 Year(2020-2021)</h5>
            <h6 class="card-subtitle text-center">Backend Developer</h6>
        </div>
        <div class="card-body">
            <img class="card-img-top p-1 px-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiS3kmO70j1Y_MUH9L3tN5qLY2LfMAGmtR0Q&usqp=CAU" height="180" width="auto" alt="project Image">
            <h4 class="text-primary">Description</h4>
            <p class="text-secondary">
                In 2020, I started my first full-time job at Tata Consultancy Services, one of the largest IT company of Asia. I was a backend developer and used to work in Spring boot framework, JAVA. 
            </p>
        </div>
    </div>
    {{!-- Internship data and using bootstrap card to display --}}
    
    <div class="card w-75" >
        <div class="card-header bg-primary">
            <h2 class="card-title text-center">Internship in Data Analytics</h2>
            <h5 class="card-title text-center">3 Months(2019-2020)</h5>
            <h6 class="card-subtitle text-center">Python, Machine learning libraries</h6>
        </div>
        <div class="card-body">
            <img class="card-img-top p-1 px-5" src="https://image.slidesharecdn.com/presentation2-201120044703/95/the-sparks-foundation-1-638.jpg?cb=1605848700" height="180" width="auto" alt="project Image">
            <h4 class="text-primary">Description</h4>
            <p class="text-secondary">
                In 2020, I started finding an internship and in COVID time I found The Spark Foundation, which was offering students online internship, and I got an opportunity to complete internship in Data Analytics.
                In this internship, I had to learn and complete certain task also had to help other fellow students if they are having any difficulties.
            </p>
        </div>
    </div>

</div>  