*{
  color: white;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.myHeader {
  height: 10vh;
  z-index: 2;
  bottom: 0px;
  background-color: #353B40;
  width: 100%;
  transition: .5s;
  border-radius: 70px 70px 0px 0px;

}
@media only screen and (max-width:600px) {

  .myHeader {
    height: 10vh;
    z-index: 2;
    bottom: 0px;
    background-color: #353B40;
    width: 100%;
    transition: .5s;
    border-radius: 0px;
  }

  .myHeader:hover
{
  height: 15vh;
  border-radius: 0px;
  background-color: white;
}
  
}
.myHeader:hover
{
  height: 15vh;
  border-radius: 70px 70px 0px 0px;
  background-color: white;
}
.myLinks:hover{
  background-color: aqua;
  border-radius: 10px;
  border-bottom: 5px solid tomato;
  transition: .3s;
}
.myLinks:hover > a{
  color:white;
}

.mycards
{
  width: 30.2rem;
  flex-shrink: 1;
}
@media screen and (max-width:1100px) {
  .mycards
  {
    width: 100%;
  }
}
